@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 15px;
    border-radius: 25px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.596)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.753);
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    height: 9vh;
    background: linear-gradient(45deg, #000000d9, #000000c4);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-bottom: 1px solid rgba(80, 80, 80, 0.18);
}
#valhalla-main{
    margin: 0px 0px 0px 40px;
    display: flex;
    background-color: transparent;
    align-items: center;
    color: white;
    width: 300px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#valhalla-icon{
    background-image: url('../image/Valhalla-icon.png');
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: transparent;
}
.valhalla-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}
#main{
    height: 100vh;
}
.bgRed{
    background-image: url('../image/wallpaper-red.png');
    width: 100%;
    background-size: cover;
}
.bgGojo{
    background-image: url('../image/Satoru-wallpaper.webp');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgHardware{
    background-image: url('../image/Hardware-wallpaper.webp');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgFortnite{
    background-image: url('../image/fortnite-wallpaper.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wallpaper-main{
    width: 100%;
    height: 100%;
}
#content-home{
    display: flex;
    height: 90.9vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
}
.category-home{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 2%;
    border: 3px solid;
    border-width: 3px;
    border-radius: 25px;
    backdrop-filter: blur(20px);
}
.category-animes{
    border-color: #2f7fff;
    box-shadow: 1px 1px 8px #307fff;
    background: linear-gradient(135deg, #0062ff1c, #0084ff10);
}
.category-hardware{
    border-color:#6b2cf5;
    box-shadow: 1px 1px 8px #e523ff;
    background: linear-gradient(135deg, #e523ff1c, #e523ff10);
}
.category-jogos{
    border-color: #faa13c;
    box-shadow: 1px 1px 8px #ffa53e;
    background: linear-gradient(135deg, #ffa53e1c, #ffb45f10);
}

.title-category{
    display: flex;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    cursor: default;
}
.category-head{
    display: flex;
    width: 100%;
    height: 23.5%;
}
.animes-background{
    -webkit-text-stroke-color: rgb(0, 65, 187);
    background-image: url('../image/gojo-background.jpg');
    background-size: 100% 101%;
    width: 100%;
    background-repeat: no-repeat;
}
.hardwares-background{
    -webkit-text-stroke-color: rgb(136, 0, 199);
    background-image: url('../image/gpu-wallpaper.jpg');
    background-size: 101% 101%;
    width: 100%;
    background-repeat: no-repeat;
}
.jogos-background{
    -webkit-text-stroke-color: rgb(255, 166, 0);
    background-image: url('../image/phoenix-wallpaper.png');
    background-size: 100% 101%;
    width: 100%;
    background-repeat: no-repeat;
}
.background-category{
    display: flex;
    justify-content: center;
    border-bottom: 5px rgba(0, 0, 0, 0.322) solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.category-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 56.5%;
    color: white;
    margin: 15px 15px 0px 15px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    line-height: 30px;
}
.category-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.button-redirect{
    display: flex;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 53%;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}
.button-animes{
    background-image: linear-gradient(45deg, #2f80ff , #3ccbff);
    box-shadow: 1px 1px 8px #0053d8;
}
.button-hardware{
    background-image: linear-gradient(45deg, #6b2cf5 , #d450e6);
    box-shadow: 1px 1px 8px #bc00d4;
}
.button-jogos{
    background-image: linear-gradient(45deg, #ff2525 , #ffe53b );
    box-shadow: 1px 1px 8px #ff8800;
}
.button-animes:hover{
    box-shadow: 1px 1px 8px #307fff;
}
.button-hardware:hover{
    box-shadow: 1px 1px 8px #e523ff;
}
.button-jogos:hover{
    box-shadow: 1px 1px 8px #ffae00;
}
#buttons-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 75%;
    gap: 15px;
}
.header-redirect{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 50%;
    height: 100%;
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: bold;
}
.header-redirect:hover{
    background-color: #00000073;
    border-radius: 15px;
    box-shadow: 1px 4px 25px 0px #000000e7;
}
.main-views{
    display: flex;
    height: 9.1vh;
    flex-direction: row;
    margin-top: 30px;
    background-image: cover;
    font-size: 26px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    background-color: #00000059;
    border-radius: 25px;
    box-shadow: 1px 1px 25px 2px #000000a4;
    justify-content: space-evenly;
}
.div-info{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.nome-modelo{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #00000059;
    border-radius: 25px;
    box-shadow: 1px 1px 25px 2px #000000a4;
}
.paginator{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items:flex-end;
    position: fixed;
}
.paginator a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 5px 0 5px;
}   
.paginator a:hover{
    background-color: #00000048;
}
.paginator a:focus{
    background-color: #0000009f;
}
.search{
    color: white;
    background-color: #00000054;
    border: #ffffff10 2px solid;
    outline: none;
    border-radius: 18px;
    font-size: 18px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}
.search::-webkit-search-cancel-button{
    display: none;
}
.titles-content-main{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-evenly;
    padding-bottom: 8px;
    border-bottom: #0000003a 1px solid;
}
.titles-content{
    width: 100%;
}
.titles-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
@media (max-width: 1120px){
    .lançamento{
        display: none;
    }
}
@media (max-width: 820px){
    .foto{
        display: none;
    }
}
.urlInfo{
    display: flex;
    height: 10%;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
    border-bottom: #0000003a 1px solid;
    -webkit-text-stroke: 2px #00000063;
}
.urlMain{
    display: flex;
    flex-direction: row;
}
.infoSettings{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000003a;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.urlContent{
    justify-content: center;
    width: 62%;
    margin: 30px 30px 30px 30px;
    padding: 50px 20px 50px 20px;
}
.urlSideInfo{
    position:fixed;
    right: 0px;
    width: 30%;
    margin: 30px 30px 30px 30px;
    padding: 50px 0 50px 0;
    justify-content: space-between;
}
.image-sideinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 40%;
    width: 100%;
}
.text-sideinfo{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    justify-content: start;
    align-items: center;
}
.textUrl{
    display: flex;
    width: 100%;
    align-items: center;
    word-wrap: break-word; 
    word-break: break-word;
}
.textUrl2{
    margin-top: 20px;
    justify-content: start;
}
.textUrl3{
    margin-top: 20px;
}
.publi{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.publiLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 90vh;
    gap: 20px;
}
.publiName{
    height: 8%;
    width: 65%;
    background-color: #252525da;
    color: white;
    font-size: 18px;
    border: 1.5px solid #383838;
    border-radius: 10px;
}
.publiLeftInfo{
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 11.5%;
    gap: 5%;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
#labelImage{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#publiTemporadas{
    height: 100%;
    width: 100%;
    background-color: #252525da;
    text-align: center;
    text-justify: center;
    color: white;
    font-size: 18px;
    border: 1.5px solid #383838;
    border-radius: 10px;
}
#publiEpisodios{
    height: 100%;
    width: 100%;
    background-color: #252525da;
    text-align: center;
    text-justify: center;
    color: white;
    font-size: 18px;
    border: 1.5px solid #383838;
    border-radius: 10px;
}
.publiLançamento{
    height: 100%;
    width: 100%;
    background-color: #252525da;
    text-align: center;
    text-justify: center;
    color: white;
    font-size: 18px;
    border: 1.5px solid #383838;
    border-radius: 10px;
}
.publiImage{
    height: 100%;
    width: 100%;
    background-color: #252525da;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 1.5px solid #383838;
    border-radius: 10px;
}
#publiImageAnime{
    display: none;
}
#publiImageHardware{
    display: none;
}
#publiImageJogos{
    display: none;
}
.publiRight{
    margin: 0;
    width: 50vw;
    height: 90vh;
}