{%extends 'base.html'%}
{% load static%}
{%block 'titulo'%}Valhalla NerdGeek{%endblock%}
{%block 'classWallpaper'%}bgRed{%endblock%}
{% block 'valhalla-text'%}NerdGeek{%endblock%}
{%block 'conteudo'%}
<div id="content-home">
    <div class="category-home category-animes">
        <div class="category-head">
            <div class='animes-background background-category'>
                <h1 class="title-category">Animes</h1>
            </div>
        </div>
        <div class="category-content">
            <h4>Nesta categoria você encontrara conteudo sobre animes, como:<br><br>•   Lançamentos<br>•   Mais Populares<br>•   Mangá<br><br>Conteudos como:<br><br>•   Episódios Novos<br>•   História<br>•   Curiosidades<br>•   Teorias</h4>
        </div>
        <div class="category-button">
            <a class="button-redirect button-animes" href="{%url 'animes'%}">Animes</a>
        </div>
    </div>
    <div class="category-home category-hardware">
        <div class="category-head">
            <div class='hardwares-background background-category'>
                <h1 class="title-category">Hardware</h1>
            </div>
        </div>
        <div class="category-content">
            <h4>Nesta categoria você encontrara conteudo sobre hardware, como:<br><br>•   Peças para PC<br>•   Acessórios<br>•   Periféricos<br><br>Conteudos como:<br><br>•   Fichas Tecnicas<br>•   Modelos<br>•   Marcas<br>•   Utilidade</h4>
        </div>
        <div class="category-button">
            <a class="button-redirect button-hardware" href="{%url 'hardware'%}">Hardware</a>
        </div>
    </div>
    <div class="category-home category-jogos">
        <div class="category-head">
            <div class='jogos-background background-category'>
                <h1 class="title-category">Jogos</h1>
            </div>
        </div>
        <div class="category-content">
            <h4>Nesta categoria você encontrara conteudo sobre jogos, como:<br><br>•   Lançamentos<br>•   Mais Populares<br>•   Mais Jogados<br><br>Conteudos como:<br><br>•   Atualizações<br>•   Dicas<br>•   Truques<br>•   História</h4>
        </div>
        <div class="category-button">
            <a class="button-redirect button-jogos" href="{%url 'jogos'%}">Jogos</a>
        </div>
    </div>
</div>
{%endblock%}