{% extends 'base.html'%}
{% load static %}
{%block 'titulo'%}Valhalla Publi{%endblock%}
{%block 'conteudo'%}
<style>
    body{
        background-image: url("{% static 'image/RedTokyo-background.jpg'%}");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<form class="content-radio" action="post">
    <div class="optionPubliCategory">
        <div class="radio-content">
            <h3 class="title-radio">Animes</h3>
            <div class="radio radio-animes">
                <input name="radio" type="radio" class="radio-button" id="radio1" value="animes{{request.GET.categoria}}"></input>
                <label class="bar" for="radio1"></label>
            </div>
        </div>
        <div class="radio-content">
            <h3 class="title-radio">Hardware</h3>
            <div class="radio radio-hardware">
                <input name="radio" type="radio" class="radio-button" id="radio2" value="hardware{{request.GET.categoria}}"></input>
                <label class="bar" for="radio2"></label>
            </div>
        </div>
        <div class="radio-content">
            <h3 class="title-radio">Jogos</h3>
            <div class="radio radio-jogos">
                <input name="radio" type="radio" class="radio-button" id="radio3" value="jogos{{request.GET.categoria}}"></input>
                <label class="bar" for="radio3"></label>
            </div>
        </div>
    </div>
{% if radioValue == animes %}
<form action="">
    <input type="text">
    <input type="text">
</form>
{% endif %}
{%endblock%}